<html>

<head>
    <title>Сетевое программирование - Главное меню</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="row">
    <nav>
        <div class="nav-wrapper col s12">
            <a class="breadcrumb" href="/">Меню</a>
        </div>
    </nav>
    <div class="container center-align">
        <h1>Главное меню</h1>
        <p>
            <a class="btn btn-large waves-effect waves-light" href="/lab1">Лабораторная №1</a>
        </p>
        <p>
            <a class="btn btn-large waves-effect waves-light" href="/lab2">Лабораторная №2</a>
        </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>