<html>

<head>
    <title>Сетевое программирование - Лабораторная работа 1</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="lab1.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="row">
    <nav>
        <div class="nav-wrapper col s12">
            <a class="breadcrumb" href="/">Меню</a>
            <a class="breadcrumb" href="/lab1">Лабораторная №1</a>
        </div>
    </nav>
    <div class="row flow-text">
        <div class="col s12 m5 l4">
            <div class="section">
                <h4>Лабораторная №1</h4>
                <h5>Вариант 15</h5>
                <h5>Руслан Фадеев</h5>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Задача:</h5>
                Из нескольких введенных значений определить количество правильно введенных чисел.
            </div>
            <div class="divider"></div>
        </div>
        <div class="col s12 m7 l8">
            <form id="input-form" class="row">
                <div class="col s12">
                    Введите новое число:
                    <div class="input-field inline">
                        <input id="input-field" type="text" />
                    </div>
                    <span id="input-error-label" class="hide red-text">
                        Введённая строка - не число.
                    </span>
                </div>
            </form>
            <div class="row">
                <ul id="output-list" class="collection with-header col s12">
                    <li class="collection-header">Введённые числа:</li>
                </ul>
            </div>
            <p class="col">
                Количество введённых чисел:
                <span id="output-count"> 0 </span>
            </p>
        </div>
    </div>

    <template id="output-element-template">
        <li class="output-element col s12 collection-item"></li>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="lab1.js"></script>
</body>

</html>