<html>
<head>
    <title>Сетевое программирование - Лабораторная работа 1</title>
    <link rel="stylesheet" type="text/css" href="static/css/lab1.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/js/lab1.js"></script>
</head>
<body>
    <div id="lab">
        Лабораторная работа 1
    </div>
    <div id="author">
        Руслан Фадеев
    </div>
    <div id="lab-var">
        Вариант 15
    </div>
    <div id="problem">
        Из нескольких введенных значений определить количество правильно введенных чисел.
    </div>
    <hr>
    <div id="solution">
        <form id="input-form">
            Введите новое число:
            <input type="text" id="input-field" />
            <label for="input-field" id="input-error-label">
                Введённая строка - не число.
            </label>
        </form>
        <p>Список введённых чисел:</p>
        <ol id="output-list"></ol>
        Количество введённых чисел:
        <div id="output-count"> 0 </div>
    </div>
    
    <template id="output-element-template">
        <li class="output-element"></li>
    </template>
        
</body>
</html>