<html>

<head>
    <link rel="stylesheet" type="text/css" href="lab2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="lab2.js"></script>
</head>

<body>
    <a href="/">В меню</a>
    <hr/>
    <p>Лабораторная работа 2</p>
    <p>Руслан Фадеев</p>
    <p>Вариант 8</p>
    <p>Задание: анкета с несколькими пунктами, статистика по собранным данным.</p>
    <hr/>
    <form submit="return false;">
        <label for="#input-name">Имя: </label>
        <input type="text" id="input-name" />
        <ul id="input-question-list"></ul>
    </form>

    <template id="input-question-template">
        <li class="input-question-item">
            <label class="input-question-label"></label>
            <select class="input-question-select"></select>
        </li>
    </template>
</body>

</html>