<html lang="ru">

<head>
    <title>Сетевое программирование - Лабораторная работа 2</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="lab2.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="row">
    <nav>
        <div class="nav-wrapper col s12">
            <a class="breadcrumb" href="/">Меню</a>
            <a class="breadcrumb" href="/lab2">Лабораторная №2</a>
        </div>
    </nav>
    <div class="row flow-text">
        <div class="col s12 m5 l4">
            <div class="section">
                <h4>Лабораторная №2</h4>
                <h5>Вариант 8</h5>
                <h5>Руслан Фадеев</h5>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>Задача:</h5>
                Создать анкету с несколькими пунктами, показать статистику по собранным данным.
            </div>
            <div class="divider"></div>
        </div>
        <div class="col s12 m7 l8">
            <div class="row">
                <form id="input-form" onsubmit="return false;">
                    <div id="input-questions" class="col s12">
                        <!-- Вопросы -->
                        <span class="hide-on-form-load grey-text">(загрузка вопросов)</span>
                    </div>
                    <div class="col s12">
                        <!-- Имя пользователя -->
                        Имя:
                        <div class="input-field inline">
                            <input id="input-name" type="text" />
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="col">
                                <!-- Кнопка отправки -->
                                <button type="submit" class="btn waves-effect waves-light">Отправить</button>
                            </div>
                            <div class="col">
                                <!-- Результат отправки -->
                                <span id="success-label" class="green-text hide">Успех!</span>
                                <span id="failure-label" class="red-text hide">Неудача!</span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col s12">
                    <!-- Вывод статистики -->
                    <p id="stats-waiting-label" class="grey-text">(отправьте для просмотра результатов)</p>
                    <p id="stats-loading-label" class="grey-text hide">(загрузка)</p>
                    <div id="stats-result" class="hide">
                        <p>
                            Количество отправок:
                            <span id="stats-count">DEBUG: stats-count</span>
                        </p>
                        <p>
                            Дата первой отправки:
                            <time id="stats-first-date">DEBUG: stats-first-date</time>
                        </p>
                        <p>
                            Дата последней отправки:
                            <time id="stats-last-date">DEBUG: stats-last-date</time>
                        </p>
                        <ul id="stats-questions"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <template id="input-question-template">
        <div class="input-question-item input-field">
            <span class="input-question-label"></span>
            <select class="input-question-select"></select>
        </div>
    </template>

    <template id="statistics-question-template">
        <li class="statistics-question">
            <p>DEBUG: тут будет результат</p>
        </li>
    </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="lab2.js"></script>
</body>

</html>